# Exercise Day 2

## 
Write a program to fetch the item only within range between 50 to 70
lst = [34,67,55,33,12,98]

 Write a program to print only String data type value from the given List
lst = ['abc', 100, 10.10, True, 'Babu']


 Write a program to replace only String values as none.
lst = ['abc', 100, 10.10, True, 'Babu'] -------> [None, 100, 10.10, True, None]
[9:00 PM, 10/25/2020] +91 95977 04568: for list & tuple:

1. Write a program which accepts a sequence of comma-separated numbers from console and generate a list    and a tuple which contains every number.
	
	input  : 34,67,55,33,12,98
	output : ['34', '67', '55', '33', '12', '98']
		 ('34', '67', '55', '33', '12', '98')



2. With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line    and the last half values in one line.

	input  : (1,2,3,4,5,6,7,8,9,10, 11)
	output : (1,2,3,4,5)
		 (6,7,8,9,10)

3. Write a program to generate and print another tuple whose values are even numbers in the given tuple 
	input  : (1,2,3,4,5,6,7,8,9,10)
	output : (2, 4, 6, 8, 10)

# 1. Write a program to fetch the item only within range between 50 to 70
lst = [34,67,55,33,12,98]

In [4]:
lst = [34,67,55,33,12,98]

In [10]:
for a in lst:
    if (a>50 and a<70):
        print(a)

67
55

# 2.Write a program to print only String data type value from the given List
lst = ['abc', 100, 10.10, True, 'Babu']

In [29]:
lst = ['abc', 100, 10.10, True, "Babu"]

In [21]:
lst[4]

'Babu'

In [55]:
for a in lst:
    if ('str' not in lst)
    print(a)

SyntaxError: invalid syntax (<ipython-input-55-df7e55e678c3>, line 2)

In [33]:
tpl = (1,2,3,4,5,6,7,8,9,10)

In [51]:
tpl

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# 3. Write a program which accepts a sequence of comma-separated numbers from console and generate a list    and a tuple which contains every number.
	
	input  : 34,67,55,33,12,98
	output : ['34', '67', '55', '33', '12', '98']
		 ('34', '67', '55', '33', '12', '98')

In [37]:
list= 34,67,55,33,12,98

SyntaxError: invalid syntax (<ipython-input-37-ddc035f4a23f>, line 3)

# 4. With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line    and the last half values in one line.

In [52]:
tpl = (1,2,3,4,5,6,7,8,9,10)

In [53]:
print (tpl[0:5])
print (tpl[5:])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

# 5. Write a program to generate and print another tuple whose values are even numbers in the given tuple 
input  : (1,2,3,4,5,6,7,8,9,10)
output : (2, 4, 6, 8, 10)

In [10]:

        
tpl = (1,2,3,4,5,6,7,8,9,10)

print(tpl[1::2])

(2, 4, 6, 8, 10)